main {
  display: flex;
  justify-content: center;
}

.container{
  width: 80%;
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
  margin-top: 20px;
}

.mat-row:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.mat-column-edit,
.mat-column-remove,
.mat-column-done {
  width: 30px;
}

.add-button {
  position: relative;
  top: 20px;
  align-self: flex-end;
  margin-bottom: 20px;
}


